.user_info_cont {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 12px;
  background-color: var(--block-color);
  border-radius: var(--big-border-radius);
  margin-bottom: 20px;
  box-shadow: 1px 1px 5px var(--border-shadow-color);

  .user_photo {
    height: var(--header-height);
    width: auto;
    border-radius: var(--mini-border-radius);
  }
  .user_info {
    height: var(--header-height);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;

    p {
      font-size: 1.4em;
      margin-bottom: 0;
      margin-top: 8px;
      font-weight: 300;
    }
    div {
      font-size: 0.8em;
      color: var(--text-color-hover);
      opacity: 0.4;
      background-color: var(--main-color);
      border-radius: var(--mini-border-radius);
      padding: 0 8px;
    }
  }
}