.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--header-background-color);
  backdrop-filter: blur(10px);
  z-index: 1;

  .logo {
    height: 80%;
  }
}