.blur {
  background: var(--header-background-color);
  backdrop-filter: blur(10px);
  transition: 500ms ease;
}
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 500ms ease;

  .logo {
    height: 80%;
    cursor: pointer;
  }

  .profile_link {
    height: 80px;
    border-radius: var(--mini-border-radius);
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 40px);
    right: calc((var(--header-height) / 2) - 15px);
    display: flex;
    justify-content: center;
    align-items: center;

    .user_logo {
      height: 30px;
      width: auto;
      border-radius: var(--mini-border-radius);

      svg {
        fill: var(--text-color);
        transition: 500ms ease;
        &:hover {
          fill: var(--hover-color);
        }
      }
    }
  }
}