:root {
  --main-color: #bfabff;
  --text-color: #3b3b3b;
  --secondary-color: #7c6ab5;
  --hover-color: #9577f5;
  --focus-color: #5631c6;
  --accent-color: #fcc100;
  --background-color: #f1eaf9;
  --block-color: #fff;
  --header-background-color: rgba(243, 242, 240, 0.3);

  --header-height: 64px;
  --catalog-menu-height: 250px;

  --container-max-width: 100%;
  --catalog-grid-columns: 2;

  --product-item-width: 160px;
}